@using ZavršniRad.Models;
@model ZavršniRad.Areas.ModulPacijent.Models.TerminIzmijeniVM
@{
    ViewBag.Title = "Dodaj";
    Layout = null;
}

<html>
<head>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

    <link href="~/Content/css/pikaday.css" rel="stylesheet" />
   @* <link href="~/Content/css/site.css" rel="stylesheet" />*@
   <script src="~/scripts/moment.min.js"></script>
    
</head>

<body>

   


@using(Html.BeginForm("Snimi", "ZakaziTermin", new { @class = "form-horizontal" }))
{
    <br />
    <div class="row">
        @if (TempData["TerminZauzet"] != null)
        {
            <p class="alert alert-success" id="successMessage">@TempData["TerminZauzet"]</p>
        }
    </div>
    <br />
    @Html.HiddenFor(model => model.Id)
    <br />
    <div class="form-group">
        <label class="col-sm-2 control-label">Razlog</label>
        <div class="col-sm-10" style="margin-bottom:20px">
            @Html.TextBoxFor(model => model.Razlog, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Razlog)

        </div>
    </div>
    <br />
    <div class="form-group">
       
        <label class="col-sm-2 control-label">Datum</label>
        <div class="col-sm-10" style="margin-bottom:20px">
           
            @Html.TextBoxFor(model=>model.Datum, new { @id="datum", @class="form-control" })
            @Html.ValidationMessageFor(model => model.Datum)
            
        </div>
    </div>
    <br />
    <div class="form-group">
        <label class="col-sm-2 control-label">Vrijeme</label>
       
        <div class="col-sm-10" style="margin-bottom:20px">
           @Html.TextBoxFor(model => model.Vrijeme, "{0:HH:mm}", new {@id="timepicker", @class = "form-control" })

    @Html.ValidationMessageFor(model => model.Vrijeme)
            
            </div>

        </div>


    <br />
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-info">Snimi</button>
        </div>
    </div>

    <p id="error"></p>
    <br />
    


}






    <script src="~/scripts/jquery-3.3.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script src="~/Content/js/pikaday.js"></script>
  
    <script type="text/javascript">


        var disable = false, picker = new Pikaday({
           field: document.getElementById('datum'),
           firstDay: 1,
           minDate: new Date(),
           yearRange: [2018, 2020],
           disableDayFn: function (date) {
               return (date.getDay() === 0 || date.getDay() === 6);
           },
           format: 'DD/MM/YYYY',
         


        });

      
      
    </script>

    <script type="text/javascript">
      
        $('#timepicker').timepicker({
            timeFormat: 'HH:mm',
            showDuration:true,
            interval: 60,
            minTime: '9:00am',
            maxTime: '5:00pm',
            defaultTime: '9:00am',
            startTime: '9:00am',
            dynamic: false,
            dropdown: true,
            scrollbar: true,
           use24hours: true,
        
        });

    </script>
   
</body>
</html>

