@using ZavršniRad.Areas.ModulStomatolog.Models
@model NoviPregledVM
@{
    ViewBag.Title = "UnesiPregled";
    Layout = "~/Areas/ModulStomatolog/Views/Shared/_StomatologLayout.cshtml";
}
<style type="text/css">
    table, th, td {
    border: 2px solid royalblue;
}
</style>
<br />
<h2 style="margin-left:20px">Unos pregleda</h2>
<br />
<div class="row" style="margin-left:20px">

    @*@if (TempData["Uspjeh"] != null)
    {
        <p class="alert alert-info" id="successMessage" style="font-size:18px;margin-left:20px">@TempData["Uspjeh"]</p>
    }*@

    <div style="font-size:18px;color:royalblue;">
        <p>Datum pregleda:@Html.TextBoxFor(model => model.DatumPregleda, "{0:dd-MM-yyyy}", new { @class = "form-control",@readonly="readonly" })
</p>
        <p>Vrijeme pregleda:@Html.TextBoxFor(model => model.VrijemePregleda, "{0:HH:mm}", new { @class = "form-control",@readonly="readonly" })
  </p>
    </div>
    <hr />
</div>

<div class="container">
    @using (Html.BeginForm("SnimiPregled", "Pregled", FormMethod.Post, new { @class = "form-horizontal" }))
    {

 <table style="margin-left:10px;">
            <thead>
                <tr>
                    <td style="font-size:18px;color:black;padding:20px 20px 20px 20px">Zub</td>

                    <td style="font-size:18px;color:black;padding:20px 20px 20px 20px">Izvršena usluga</td>
                    <td style="font-size:18px;color:black;padding:20px 20px 20px 20px">Uspostavljena dijagnoza</td>
                    <td style="font-size:18px;color:black;padding:20px 20px 20px 20px">Terapija</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="padding:20px 20px 20px 20px;">
                        <br />

                        <div class="form-group">
                            @Html.DropDownListFor(m => m.zubID, Model._Zub, new { @class = "form-control" })
                        </div>

                        <br />


                    </td>
                    <td style="padding:20px 20px 20px 20px;">

                        <br />


                        Usluga:  <div class="form-group">@Html.DropDownListFor(m => m.uslugaID, Model._Usluga, new { @class = "form-control" })</div>
                        Cijena:  <div class="form-group">@Html.TextBoxFor(m => m.Cijena, new { @class = "form-control" })</div>



                        <br />


                    </td>
                    <td style="padding:20px 20px 20px 20px;">

                        <br />


                        <div class="form-group">
                            Dijagnoza:  @Html.DropDownListFor(m => m.dijagnozaID, Model._Dijagnoza, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            Intenzitet:  @Html.TextBoxFor(m => m.Intenzitet, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            Napomena:  @Html.TextAreaFor(m => m.Napomena, new { @class = "form-control" })
                        </div>




                        <br />


                    </td>
                    <td style="padding:20px 20px 20px 20px;">


                        <br />


                        <div class="form-group">
                            Lijek:  @Html.DropDownListFor(m => m.lijekID, Model._Lijek, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            Količina:  @Html.TextBoxFor(m => m.Kolicina, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            Vrsta:  @Html.TextBoxFor(m => m.Vrsta, new { @class = "form-control" })
                        </div>

                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="padding:10px 10px 10px 10px;background-color:white;text-align:center;"> <input type="submit" style="font-size:18px; width:80px; height:40px" value="Snimi" class="btn btn-info" /></td>
                </tr>
            </tbody>
        </table>


    }
</div>



